title {
    padding: 10px;
    color: blue;
}
body {
    background: burlywood;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    font-family: verdana;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

